
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Grado";
}

<div class="container" style="margin-top: 100px;">
    <div data-bind="visible: model.gradoController.gridMode()">
        <div class="jumbotron">
            Cursos
        </div>
        <div class="pull-right">
            <a href="#" class="btn btn-success mybtn" data-bind="click: model.gradoController.nuevo"><i class="fa fa-plus-circle"></i> Nuevo</a>
        </div>
        <table id="categoriaGrid" class="table table-hover">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Grado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody data-bind="dataTablesForEach : {
                                    data: model.gradoController.grados,
                                    options: dataTableOptions
                                  }">
                <tr>
                    <td data-bind="text: gradoId"></td>
                    <td data-bind="text: nombre"></td>
                    <td>
                        <a href="#" class="btn btn-warning btn-xs" data-bind="click: model.gradoController.editar"><i class="fa fa-pencil"></i></a>
                        <a href="#" class="btn btn-danger btn-xs" data-bind="click: model.gradoController.remover"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div data-bind="visible: model.gradoController.insertMode()">

        <form name="gradoForm" id="gradoForm" class="form" data-bind="with: model.gradoController.grado">
            <div class="row">
                <div class="form-group col-sm-7 col-md-7">
                    <label for="grado">Grado<span class="text-danger"> *</span></label>
                    <input id="grado" name="grado" type="text" class="form-control" data-bind="value: nombre"
                           data-error=".errorGrado"
                           minlength="3" maxlength="100" required>
                    <span class="errorGrado text-danger help-inline"></span>
                </div>
            </div>
            <div class="form-group">
                <p class="text-center">
                    <button type="button" class="btn btn-info" data-bind="click:  model.gradoController.guardar "><i class="fa fa-save"></i> Guardar</button>
                    <button type="button" class="btn btn-danger" data-bind="click:  model.gradoController.cancelar"><i class="fa fa-undo"></i> Cancel</button>
                </p>
            </div>
        </form>
    </div>
</div>


<script>
        $(document).ready(function () {
            model.gradoController.initialize();
        });
</script>

